<%= simple_form_for @subject, :html => { :multipart => true } do |f| %>


        <h4>Semestre anterior: <%= @subject.semester.semester%></h4><%= select_tag(:semester_id, options_for_select(@semesters), :prompt => "Selecione um semestre")%>
        <p></p>



    <%= f.input :name, label: "Nome" %>
		<%= f.input :professor, label: "Professor" %>
    <%= f.file_field :subject_img %>
    <p></p>
	<%= f.button :submit %>
<% end %>