<%= simple_form_for @subject, :html => { :multipart => true } do |f| %>


    <% if @subject.semester_id? %>
        <br/>
        <h4><b>Semestre anterior: </b><%= @subject.semester.semester %></h4>
        <p></p>
    <% else %>
        <br/>
        <h4>Semestre anterior: Não definido</h4>
        <p></p>
    <% end %>


    <%= select_tag(:semester_id, options_for_select(@semesters), :prompt => "Selecione um semestre")%>
    <br/></br>

    <%= f.input :name, label: "Nome" %>
		<%= f.input :professor, label: "Professor" %>
    <%= f.file_field :subject_img %>
    <br>
	<%= f.button :submit, class:"btn btn-custom2", value:"Cadastrar"%>
    -  |  -
    <%= link_to "Cancelar", root_path, class:"btn btn-custom2" %>
<% end %>