<div>
	<%= render partial: "layouts/header" %>
</div>


		<% if @subjects.count == 0 %>
		    <br/>
    <p></p>


    <div class="container">
      <h2 class="titulos">Disciplinas ativas: <b><%= params[:semester]%></b></h2>
      <h4><b>Não há disciplinas cadastradas para esse semestre!</b></h4>
    </div>

    <% else %>

      <br/>
    <p></p>
    <div class="container">
      <h2 class="titulos">Disciplinas ativas: <b><%= params[:semester]%></b></h2>

                <% @subjects.each do |subject| %>
                  <p> </p>
                    <div class="col-md-4">

                          <a href="/subjects/<%= subject.id %>">
                            <%= image_tag subject.subject_img.url(:subject_index), class:"box-subject"%>
                          </a>

                    </div>
                <% end %>
        </div>
<% end %>

<br>

<div class="container">
  <h2 class="titulos">Pontuação Geral:</h2>


    <br/>
  <div class="table-responsive">
      <table class="table">
        <thead class="thead-inverse">
        <tr>
          <th>Nome:</th>
          <th>Matrícula:</th>
          <th>Pontuação:</th>
          <th>Média:</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td>Kennet Emerson</td>
        <td>201350105</td>
        <td>25 pontos</td>
        <td>9,91</td>
        </tr>
        <tr>
          <td>Caetano Vieira</td>
          <td>201310958</td>
          <td>21 pontos</td>
          <td>9,50</td>
        </tr>
        <tr>
          <td>Fabiano Alencar</td>
          <td>201310340</td>
          <td>15 pontos</td>
          <td>8,75</td>
        </tr>
        <tr>
          <td>Jayara Medeiros</td>
          <td>201313780</td>
          <td>07 pontos</td>
          <td>8,51</td>
        </tr>

        </tbody>
      </table>
    </div>
</div>
<br>
<br>
<h5 align="center" class="texto-rodape">Sistemas de Informação - Faculdade Paraíso do Ceará</h5>


