<h2>Disciplina: <%= @subject.name %></h2>
<h2>Semestre: <%= @subject.semester.semester%></h2>
<h2>Professor: <%= @subject.professor%></h2>


<%= link_to "Pagina Inicial", root_path %>
<%= link_to "Editar Disciplina", edit_subject_path %>
<%= link_to "Excluir Disciplina", subject_path(@subject), method: :delete, data: { confirm: "Deseja deletar a Disciplina?"} %>