<div>
  <%= render partial: "layouts/headerInsideSubject" %>
</div>


<div class="subjects-details">
    <h2 class="titulos"><b>Lista de Exercícios: </b><%= @subject.name %></h2>
    <h4><b>Professor: </b><%= @subject.professor%></h4>
    <h4><%= @subject.semester.semester%></h4>




        <% if @subject.tasks.count == 0 %>
            <br>
            <h4><b>Não há tarefas cadastradas para essa disciplina!</b></h4>

        <% else %>

          <%= render @subject.tasks.order("created_at DESC")%>
        <% end %>




</br>


</div>



<script>
    $('.review-rating').raty({
        readOnly: true,
        score: function(){
            return $(this).attr('data-score');
        },
        path:'/assets/'
    });
</script>
