<div>
  <%= render partial: "layouts/headerInsideSubject" %>
</div>


<div class="subjects-details">
    <h2 class="titulos"><%= @subject.name %></h2>
    <h4>Professor: <%= @subject.professor%></h4>
    <h4><%= @subject.semester.semester%></h4>

  <div class="row">

    <div class="col-md-12">
      <div class="container">

      <%= render @subject.tasks %>

    </div>
  </div>

  </div>

</br>


</div>