
<div>
 <%= render partial: "layouts/header" %>
</div>

<p> </p>

<div class="box-login">
	<div class="col-md-6 col-md-offset-3">
		<h2 align="center">Seja Bem Vindo</h2>

		<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
		  <div class="form-inputs">
		    <%= f.input :login, required: false, autofocus: true, label: "Matrícula:" %>
		    <%= f.input :password, required: false, label: "Senha:" %>
		  </div>

		  <div class="form-actions" align="right">
		    <%= f.button :submit, "Entrar" , class:"btn-info"%>
		  </div>
		<% end %>

		<p> </p>

	</div>
</div>

<div class="img-center">
        <%= image_tag("codefap.png", :class =>"img-responsive") %>
</div>

<div class="text-home">
  <p>Protótipo de Apoio ao Curso de Sistemas de Informação</p>
</div>